<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="https://raw.githubusercontent.com/mikeguoynes/Feedback-App-Landing-Page/master/src/app/console-illustration.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Kiktab
  </a>
</nav>
<div class="main">
  <div class="container p-4">

    <section class="my-xl">
      <div class="row">
        <div class="col-6">
          <h1 class="mb-4">
            From Bug Reports to Root Cause in minutes, not hours.
          </h1>

          <h3>
            No more guessing what happened.
          </h3>


          <p>
            Get the full replay & logs that engineers need to quickly fix bugs and get back
            to building new features.
          </p>

          <div>
            <button class="btn bg-cta">
              Try it Out
            </button>
          </div>
        </div>



        <div class="col-6 text-center">
          <img width="500" src="https://github.com/mikeguoynes/Feedback-App-Landing-Page/blob/master/src/app/Feedback-Mockup.png?raw=true"/>
        </div>
      </div>
    </section>


    <section class="bg-brand p-4 my-xl pb-4">
      <h3>Save time with our Feedback Replay tool.</h3>

      <div class="row">
        <div class="col-6">
          <p>
            The timeline tool shows you exactly which actions the user took. Bug fixes are faster with all error details
            in one place.
          </p>
        </div>

        <div class="col-6 d-flex justify-content-center">
         
        </div>
      </div>

      <div>
        <img src="https://github.com/mikeguoynes/Feedback-App-Landing-Page/blob/master/src/app/timeline-feature.png?raw=true"/>
      </div>

    </section>

  </div>
</div>