<div class="container p-4">
  <div class="row">
    <div class="col-6">
      <h2 class="mb-4">Bug Reports to Root Cause in minutes, not hours.</h2>

      <p>No more guessing.</p>

      <p>
        Get the full context you need to quickly fix bugs and get back
        to building new features. With in-depth error reports and full logs
        you will have everything you need to troubleshoot bug reports and get back
        to building the products you truly love to build.
      </p>
    </div>

    <div class="col-6">
      <img src="./console-illustration.png"/>
    </div>
  </div>

</div>