* {
  --brand-color: #4949e4;
  --border-width: 2px;
}

.main {
  border-top: var(--border-width) solid var(--brand-color);
}

.bg-brand {
  background-color: var(--brand-color);
  color: #f2f2f2;
}

p {
  font-family: Lato;
}

.my-xl {
  margin-top: 80px;
  margin-bottom: 80px;
}